.body {
    margin: 2rem 15%;
    border: solid 1px $colorCarmesiTransparent;
    border-radius: 10px;
    width: 75%;
    color: white;
    background-color: $colorBlackTransparent;
    padding: 2rem;
    h1 {
        font-weight: bolder;
        letter-spacing: 5px;
    }
    h2 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    p {
        text-indent: 1rem;
    }
}
