.body {
    margin: 2rem 15%;
    border: solid 1px $colorCarmesiTransparent;
    border-radius: 10px;
    width: 75%;
    color: white;
    background-color: $colorBlackTransparent;
    padding: 2rem;
    h1 {
        font-weight: bolder;
        letter-spacing: 5px;
    }
    h2 {
        font-weight: bold;
    }
    p {
        text-indent: 1rem;
    }
    q {
        color: $colorCarmesi;
        font-size: 1.125rem;
    }
    @media (max-width: 768px) {
        margin: 1rem 0;
        border-radius: 0;
        border: none;
        border-top: solid 1px $colorCarmesiTransparent;
        width: 100%;
    }
}
