.form {
    padding: 1rem;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        input,
        select {
            color: black;
        }
    }
}
