nav {
    padding: 0 15%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: $colorCarmesi;
    @media (max-width: 768px) {
        padding: 0;
        justify-content: unset;
        flex-direction: row;
        align-items: flex-start;
        width: fit-content;
        height: 100%;
        background: $colorBlackTransparent;
        border: solid 1px rgba(255, 0, 0, 0.438);
        &.collapsed {
            background: none;
            border: none;
        }
    }
}
.brand {
    display: flex;
    justify-content: start;
    width: 20%;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.menu-bar {
    list-style: none;
    display: flex;
    align-items: center;
    .nav-item {
        font-size: 1rem;
        font-weight: bold;
        height: 100%;
        cursor: pointer;
        color: white;
        background-color: $colorCarmesi;
        transition: background-color 0.2s ease, color 0.2s ease;
        &:hover {
            transition: background-color 0.2s ease, color 0.2s ease;
            color: red;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        a {
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100%;
            padding: 0 1rem;
            width: 100%;
        }
        &.dropdown {
            @media (min-width: 768px) {
                overflow: hidden;
                .dropdown-content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: absolute;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
            }
            .nav-item {
                margin: 0;
                border-radius: 5px;
                padding: 5px 10px;
                border-top: 1px solid darken($colorLightBlue, 20%);
                text-align: center;
                background-color: $colorLightBlue;
                &:hover {
                    transition: background-color 0.2s ease;
                    background-color: lighten($colorLightBlue, 10%);
                    color: darken($colorLightBlue, 20%);
                    text-shadow: -1px 0 white, 0 1px white, 1px 0 white,
                        0 -1px white;
                }
            }
        }
    }

    @media (max-width: 768px) {
        top: 4rem;
        right: 0;
        display: block;
        position: absolute;
        flex-direction: column;
        width: 100%;
        margin: 0;
        .nav-item {
            background-color: $colorDarkGrey;
            a {
                height: 3rem;
            }
            width: 100%;
            text-align: center;
            padding: 0;
            border: 1px solid black;
            transition: background-color 0.2s ease;
            &:hover {
                transition: background-color 0.2s linear;
                background-color: $colorCarmesi;
            }
            &.dropdown {
                overflow: hidden;
                .nav-item {
                    border-top: none;
                    border-radius: 0;
                    background-color: $colorCarmesi;
                    &:hover {
                        background-color: darken($colorCarmesi, 10%);
                        color: red;
                        text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                            0 -1px black;
                    }
                }
                .dropdown-content {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: relative;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
            }
        }
    }
}

button.hamburger {
    display: none;
}

@media (max-width: 768px) {
    button.hamburger {
        display: block;
        width: 4rem;
        height: 4rem;
        color: $colorCarmesi;
        padding: 0.5rem;
        transition: color 0.2s ease;
        &:hover {
            transition: color 0.2s ease;
            color: $colorRed;
        }
    }
}
