.brand {
    // display: flex;
    // justify-content: center;
    img {
        width: 40%;
        height: 100%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: $colorCarmesiTransparent;
    @media (max-width: 768px) {
        justify-content: unset;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        height: 100%;
        background: rgba(0, 0, 0, 0.493);
        border: solid 1px rgba(255, 0, 0, 0.438);
        &.collapsed {
            background: none;
            border: none;
        }
    }
}

.menu-bar {
    list-style: none;
    display: flex;
    align-items: center;
    .nav-item {
        font-size: 1.5rem;
        border-radius: 0.5rem;
        margin: 0 0.5rem;
        cursor: pointer;
        color: white;
        background-color: $colorCarmesi;
        padding: 0 1rem;
        transition: background-color 0.2s ease;
        &:hover {
            transition: background-color 0.2s ease;
            background-color: darken($colorCarmesi, 10%);
        }
        &.dropdown {
            @media (min-width: 768px) {
                // float: left;
                overflow: hidden;
                .dropdown-content {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    position: fixed;

                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                }
            }
            .nav-item {
                margin: 0;
                padding: 5px 10px;
                text-align: center;
                background-color: $colorLightBlue;
                &:hover {
                    transition: background-color 0.2s ease;
                    background-color: lighten($colorLightBlue, 10%);
                    color: darken($colorLightBlue, 20%);
                }
            }
        }
        @media (max-width: 768px) {
            width: 100%;
            text-align: center;
            padding: 0;
            border: 1px solid black;
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
}

button.hamburger {
    display: none;
}

@media (max-width: 768px) {
    button.hamburger {
        display: block;
        width: 3rem;
        height: 3rem;
        color: $colorCarmesi;
        padding: 0.5rem;
        transition: color 0.2s ease;
        &:hover {
            transition: color 0.2s ease;
            color: $colorRed;
        }
    }
}
