*{
	margin: 0;
	padding: 0;
}

.format0{
	position: absolute;
	top: 270px;
	left: 19%;
	text-indent: .5cm;
	color: white;
	font-size: 35px;
	font-family: Consolas;
	width: 1000px;
	height: 1150px;
	background: rgba(0, 0, 0, .8);
	padding:20px;
	border: 1px solid red;
}

.format {
	background: rgba(0, 0, 0, .8);
	padding: 20px;
	border:1px solid red;
	font-family: Consolas;
	color: #FFFFFF;
	font-size: 18px;
	display: inline-block;
	position:absolute;
	width:700px;
	height: 430px;
}

.format1 {
	background: (0, 0, 0, .8);
	padding: 20px;
	font-family: Times New Roman;
	font-size: 24px;
	color: #FFFFFF;
}
.format2 {
	background: rgba(0, 0, 0, .8);
	padding: 20px;
	padding-top: 0px;
	text-indent: 0;
	border: 1px solid red;
	font-family: Consolas;
	color: #FFFFFF;
	font-size: 16px;
	width: 150px;
	position: absolute;
	left: 800px;
}

.format3{
	background: rgba(0, 0, 0, .8);
	padding: 20px;
	margin: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-indent: 0cm;
	border: 1px solid red;
	font-family: Consolas;
	color: #FFFFFF;
	font-size: 13px;
	width: 160px;
	position: absolute;
	left: 800px;
	top: 390px;
}

.format3 form input,select{
	margin-top: 5px;
	margin-bottom: 10px;
}
.format3 form label{
	font-size: 11px;
}

.ajustarimagen{
	width: 100%;
}
.ajustarportada{
	position: absolute;
	left: 20%;
	width: 1000px;
}
.ajustarfooter{
	width: 1000px;
	position: absolute;
	left: 20%;
}

.menuBar ul, li{
	margin:0;
	padding:0;
}
ul, ol{
	list-style: none;
	margin: auto;
}
.menuBar li a{
	display:block;
}

.menuBar li a:hover{

}
.menuBar > li{
	float: left;
	position: relative;
}

.menuBar li ul{
	display: none;
}
.menuBar li:hover >ul{
	display:block;
}
.format5 {
	position: absolute;
	top:188px;
	left:25%;
	width: 840px;
	height: 150px;
	z-index: 1;
}
hr{
	color:#FFFFFF;
} 
.footer {
	position: absolute;
	background: black;
	width:100%;
	height: 200px;
	top: 1500px;
}

.contenedor {
  position: relative;
  height: 50px;
  width: 200px;
}

.contenedor img {
  position: absolute;
}

.contenedor img.top:hover {
  opacity: 0;
}

.format6{
	font-size: 20px;
	text-indent: 0;
	padding: 10px;
	margin:10px;
}

.format7{
	position: absolute;
	top:670px;
	width: 1000px;
}
.format8{
	border: 1px solid white;
	width: 150px;
	height: 160px;
	background: black;
	padding: 10px;
	text-indent: 0cm;
	font-size: 16px;
}
.format8 .ajustarimagen{
	position: relative;
	margin:0px;
	width: 150px;
	height: 150px;
}
a{
	text-decoration: none;
}



