* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
    background: url("../../assets/fondo.jpg");
    background-repeat: repeat;
    background-size: 10rem;
}

footer {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 60%,
        rgba(41, 51, 170, 0) 100%
    );
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 300px;
    width: 100%;
    img {
        width: 50%;
        height: auto;
        @media (max-width: 768px) {
            width: 80%;
        }
    }
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

hr {
    margin: 1rem 0;
}

button[type="submit"] {
    background-color: $colorCarmesi;
    padding: 5px 12px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    &:hover {
        transition: background-color 0.2s ease;
        background-color: $colorRed;
    }
}
