$colorRed: red;
$colorCarmesiTransparent: rgb(113, 0, 0, 0.5);
$colorCarmesi: rgb(133, 0, 0);
$colorLightBlue: rgb(127, 127, 255);
$colorLightBlueTransparent: rgba(38, 38, 192, 0.5);
$colorBlackTransparent: rgba(0, 0, 0, 0.75);
